<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
        <Property name="basePath">C:\Users\Andrey Pyatakha\logs</Property>
    </Properties>
    <Appenders>
        # Console appender
        <Console name="stdout" target="SYSTEM_OUT">
            # Pattern of log message for console appender
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>


        <RollingFile name="rolling-file-appender"
            fileName="${basePath}/app.log"
            filePattern="${basePath}/app.%i.log"
            ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="2"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <AsyncRoot level="INFO">
            <AppenderRef ref="rolling-file-appender"/>
            <AppenderRef ref="stdout"/>
        </AsyncRoot>
    </Loggers>
</Configuration>